.banner-img{
  width: 100%;
  height: 200px;
}

.banner-title{
  position: relative;
  top: 175px;
    margin-left: 20px;
}


.banner-title--title{
  font-family: var(--tipografiaRubik);
  font-size: 30px;
  font-weight: 900;
  color: aliceblue;
}