.container-paginador{
  display: flex;
  flex-direction: column;
}

.card-container {
  width: 300px;
  height: 320px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card-container-name-category{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 2em;
}

.card-container-category {
  font-size: 20px;
  font-family: var(--tipografiaRubik);
  font-weight: 700;
  opacity: 1;
  color: #B0A8B9;
}


.card-container-name {
  font-size: 25px;
  font-family: var(--tipografiaRubik);
  font-weight: 700;
  opacity: 1;
  color: #4B4453;
}

.card-container-cost{
  font-size: 25px;
  font-family: var(--tipografiaRubik);
  font-weight: 700;
  color: #FDF7FF;
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: rgb(0, 208, 250, 0.5);
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;

   transform: translateY(100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.card:hover .content {
  transform: translateY(0);
}


.card:hover .front-content p {
  opacity: 0;
}


.paginador-nav-icon{
  width: 50px;
  height: 50px;
}



.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
   cursor:pointer;
  font-size: 15px;
  font-family: var(--tipografiaRubik);
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #4B4453;
  background-color: #FDF7FF;
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
 }



.card-container-icon-blue{
  position: relative;
  bottom: 145px;
  left: 225px;
}

.card-container-icon-white{
  position: relative;
  bottom: 85px;
  left: 120px;
}

.paginator-container-products-number{
  font-family: var(--tipografiaRubik) !important;
  color: #434950 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.paginator-container-buttons-sortby--sortby{
  font-family: var(--tipografiaRubik);
  color: #434950;
  font-size: 16px;
  font-weight: 600;
}


.paginator-container-buttons-sortby--button{
  background-color: #b3b8bd;
  border-radius: 15px;
  width:auto;
  padding:6px 6px;
  color: #434950;
  font-family: var(--tipografiaRubik);
}


.active1{
  color:white;
  background: rgb(0, 208, 250, 0.5);
  border-radius: 15px;
  width:auto;
  padding:5px 3px;
}

.active2{
  color:white;
  background: rgb(0, 208, 250, 0.5);
  border-radius: 15px;
  width:auto;
  padding:5px 3px;
}
.active3{
  color:white;
  background: rgb(0, 208, 250, 0.5);
  border-radius: 15px;
  width:auto;
  padding:5px 3px;
}

.card-button-message-container{
  background-color: #6cac2d;
  border-radius: 15px;
}

.card-button-message{
   font-family: var(--tipografiaRubik);
   color: #434950;
    font-weight: 600;
    padding: 5px;
}

@media (min-width: 768px) {
 .container-paginador{
  flex-direction: row;
}



}
