/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik&display=swap');

:root{
  --tipografiaRubik: 'Rubik', sans-serif;
}
 

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
